.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.inputsBlock {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.form {
  width: 350px;
  background-color: unset;

  .MuiPaper-root{
  background-color: none !important;
  }
}

.inputsBlock {
  .emailInput {
    margin-bottom: 15px;
  }
}

.submitButton {
  margin: 16px;
  margin-top: 0;
}
