.blogItemWrap {
  width: 400px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  color: unset;
  font-weight: normal;
  text-decoration: none;
}

.actionsWrap {
  justify-content: space-between;
}

.buttonsWrap {
  .deleteButton {
    margin-left: 15px;
  }
}
