.container {
  a {
    color: white;
    text-decoration: none;
  }
}

.innerWrap {
  color: white !important;
  background-color: #3f51b5 !important;
}

.buttonContainer {
  justify-content: space-between;
}

