.contentHead {
  display: flex;
  justify-content: space-between;
}

.link {
  color: unset;
  font-weight: normal;
  text-decoration: none;
}

.buttonsWrap {
  margin-bottom: 15px;

  .deleteButton {
    margin-left: 15px;
  }
}
